# Enviroment
.env

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Data
data/train.rds
data/val.rds
data/test.rds
data/raw/raw_data.csv
data/processed/processed_data.rds

# Img
img/*.png

# Quarto
/.quarto/

# Docs
Rplots.pdf
docs/*.pdf
# !docs/report.pdf # As soon as the report is finished
docs/*.docx
docs/report_files/*

# Quarto
report_files/*
report_cache/*
