# Enviroment
.env

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Data
data/train.rds
data/val.rds
data/test.rds
data/raw/raw_data.csv
data/processed/processed_data.rds

# Img
img/*.png

# Quarto
/.quarto/

# Docs
docs/*.pdf
docs/*.docx
